# Client backend
/client/backend/.DS_Store
/client/backend/node_modules
/client/backend/AdminLTE-3.1.0

# Client frontend
/client/frontend/.DS_Store
/client/frontend/node_modules

# Server
/server/node_modules
.env
/server/public/uploads/*
/server/public/storage/products/design/*
/server/public/storage/products/mockups/*
/server/public/storage/products/previews/*
/server/public/storage/custom_products/*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?